@import "~hds-design-tokens/lib/all.scss";
@import "../../styles/mixins.scss";

.maincontainer {
  margin-top: $spacing-m;

  .treecontainer {
    display: flex;
    align-items: center;
  }

  .infocontainer {
    margin: $spacing-m 0;
  }

  .headingcontainer {
    h1 {
      word-break: break-word;
      margin-bottom: 0;
    }
    h2 {
      color: $color-bus;
    }

    .subHeader {
      font-size: $fontsize-heading-m;
      font-weight: 700;
      margin-bottom: $spacing-l;

      @include media(xs) {
        font-size: $fontsize-heading-s;
      }
    }

    .statuslabel {
      display: flex;
      align-items: center;
      flex-direction: row;

      span {
        padding: $spacing-2-xs;
        margin-right: $spacing-s;
      }
    }

    .entranceHeader {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  .summarycontainer {
    margin-bottom: $spacing-xl;

    h2 {
      color: $color-bus;
    }
  }

  .headercontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
