<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="ReverseProxyInboundRule2" enabled="false" stopProcessing="true">
                    <match url="api/?(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://localhost:8000/api/{R:1}" />
                </rule>
                <rule name="ReverseProxyInboundRule3" enabled="false" stopProcessing="true">
                    <match url="app/?(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://localhost:3000/kapaesteettomyys_testi/app/{R:1}" />
                </rule>
                <rule name="ReverseProxyInboundRule4" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3000/kapaesteettomyys_testi/app/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <tracing>
            <traceFailedRequests>
                <remove path="*" />
            </traceFailedRequests>
        </tracing>
        <httpErrors>
            <remove statusCode="503" subStatusCode="-1" />
        </httpErrors>
        <httpRedirect enabled="false" destination="https://asiointi.hel.fi/kapaesteettomyys_testi/maintenance.html" exactDestination="true" />
    </system.webServer>
</configuration>
