<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="ReverseProxyInboundRule2" enabled="true" stopProcessing="true">
                    <match url="api/?(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://localhost:8000/api/{R:1}" />
                </rule>
                <rule name="ReverseProxyInboundRule3" enabled="true" stopProcessing="true">
                    <match url="app/?(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://localhost:3000/kapaesteettomyys_testi/app/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <tracing>
            <traceFailedRequests>
                <remove path="*" />
            </traceFailedRequests>
        </tracing>
    </system.webServer>
</configuration>
