<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="ReverseProxyInboundRule7" stopProcessing="true">
                    <match url="api/?(.*)" />
                    <action type="Rewrite" url="http://localhost:81/api/{R:1}" />
                </rule>
                <rule name="ReverseProxyInboundRule8" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3000/kapaesteettomyys/app/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
