@import "~hds-design-tokens/lib/all.scss";
@import "../../../styles/mixins.scss";

.maincontainer {
  margin-top: $spacing-m;

  .infocontainer {
    margin: $spacing-m 0;
  }

  .headingcontainer {
    h1 {
      word-break: break-word;
      margin-bottom: 0;
    }
    h2 {
      color: $color-bus;
    }

    .subHeader {
      color: $color-black;
      font-size: $fontsize-heading-m !important;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: $spacing-l;

      @include media(xs) {
        font-size: $fontsize-heading-s !important;
      }
    }

    .entranceHeader {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      h2 {
        margin-bottom: $spacing-xs;
      }
    }
  }

  .headercontainer {
    margin-top: $spacing-4-xl;

    h3 {
      color: $color-bus;
      margin-bottom: 0;
    }
  }

  .footercontainer {
    margin-top: $spacing-4-xl;
  }
}
