@import "~hds-design-tokens/lib/all.scss";
@import "../../../styles/mixins.scss";

.maincontainer {
  margin-top: $spacing-m;

  .infocontainer {
    margin: $spacing-m 0;
  }

  .headingcontainer {
    h1 {
      word-break: break-word;
      margin-bottom: 0;
    }
    h2 {
      color: $color-bus;
    }

    .subHeader {
      font-size: $fontsize-heading-m;
      font-weight: 700;
      margin-bottom: $spacing-l;

      @include media(xs) {
        font-size: $fontsize-heading-s;
      }
    }

    .entranceHeader {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  .contentcontainer {
    .header {
      color: $color-bus;
      font-size: $fontsize-heading-m !important;
      margin-top: $spacing-l;
      margin-bottom: $spacing-2-xs;
    }

    .content {
      h4 {
        background-color: $color-bus-light;
        padding: $spacing-s;
      }
    }
  }

  .footercontainer {
    margin-top: $spacing-l;
  }
}
