@import "~hds-design-tokens/lib/all.scss";
@import "../../../styles/mixins.scss";

.maincontainer {
  margin-top: $spacing-m;

  .infocontainer {
    margin: $spacing-m 0;
  }

  .headingcontainer {
    h1 {
      word-break: break-word;
      margin-bottom: 0;
    }

    .subHeader {
      font-size: $fontsize-heading-m;
      font-weight: 700;
      margin-bottom: $spacing-l;

      @include media(xs) {
        font-size: $fontsize-heading-s;
      }
    }
  }

  .mainbuttons {
    margin-bottom: $spacing-l;
  }
}
