@import "~hds-design-tokens/lib/all.scss";
@import "../../../styles/mixins.scss";

.maincontainer {
  margin-top: $spacing-m;

  .infocontainer {
    margin: $spacing-m 0;
  }

  .headingcontainer {
    h1 {
      word-break: break-word;
    }
  }

  .mainbuttons {
    margin-bottom: $spacing-s;
  }
}
