@use "~hds-design-tokens/lib/all.scss";
@use "../../../../styles/mixins.scss";

.maincontainer {
  margin-top: all.$spacing-m;

  .infocontainer {
    margin: all.$spacing-m 0;
  }

  .headingcontainer {
    h1 {
      word-break: break-word;
      margin-bottom: 0;
    }

    .subHeader {
      font-size: all.$fontsize-heading-m;
      font-weight: 700;
      margin-bottom: all.$spacing-l;

      @include mixins.media(xs) {
        font-size: all.$fontsize-heading-s;
      }
    }

    .mainbuttons {
      margin-bottom: all.$spacing-s;
    }

    .infoHeader {
      font-size: all.$fontsize-heading-m;
      font-weight: 700;
      color: all.$color-white;
      background-color: all.$color-bus;
      padding: all.$spacing-s all.$spacing-m;

      @include mixins.media(xs) {
        font-size: all.$fontsize-heading-s;
      }
    }

    .infoText {
      padding: all.$spacing-s;
    }
  }

  .contentcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > div {
      width: 50%;

      @include mixins.media(xs, s, m) {
        width: 100%;
      }
    }

    .contentheader {
      font-size: all.$fontsize-heading-s;
      font-weight: 700;
      color: all.$color-bus;
      margin-bottom: all.$spacing-s;
    }
  }

  .footercontainer {
    margin-top: all.$spacing-5-xl;

    .footerbutton {
      margin-top: all.$spacing-l;
    }
  }
}
