@use "~hds-design-tokens/lib/all.scss";
@use "../../styles/mixins";

.notice {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: all.$spacing-m 0;
  padding: all.$spacing-m;
  margin-bottom: all.$spacing-layout-s;
  border: solid all.$color-bus 0;
  border-left-width: all.$spacing-2-xs;
  background-color: all.$color-fog-light;

  .titlecontainer {
    display: flex;
    align-items: center;

    .icon {
      color: all.$color-bus;
    }

    .title {
      margin-left: all.$spacing-m;
      font-size: all.$fontsize-heading-m;
      font-weight: 700;
      outline: none;

      @include mixins.media(xs) {
        font-size: all.$fontsize-heading-s;
      }
    }
  }

  .text {
    margin: all.$spacing-xs;
    @include mixins.media(xs) {
      margin-left: all.$spacing-s;
    }

    max-width: 8 * all.$spacing-4-xl;
    @include mixins.media(xl) {
      max-width: 12 * all.$spacing-4-xl;
    }
  }

  .flexButtonsContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: all.$spacing-m 0;
  }
}
