@import "~hds-design-tokens/lib/all.scss";
@import "../../styles/mixins";

.footer {
  margin-top: $spacing-layout-l;
  --footer-color: var(--color-white) !important;
  --footer-background: var(--color-bus) !important;
  --footer-focus-outline-color: var(--color-white) !important;

  a:hover {
    border: 0;
  }
  a:hover::after {
    /* hover style copied from HDS footerItem focus style */
    --focus-outline-size: calc(100% + var(--spacing-2-xs));
    border: var(--footer-focus-outline-width) solid var(--footer-focus-outline-color);
    border-radius: var(--footer-focus-outline-border-radius);
    box-sizing: border-box;
    content: '';
    height: var(--focus-outline-size);
    position: absolute;
    width: var(--focus-outline-size);
  }

  .helsinkiLogoItem {
    text-decoration: none !important;

    .helsinkiLogoContainer {
      display: flex;
      flex-direction: column;
      cursor: default;

      .helsinkiLogoText {
        margin-top: $spacing-xs;
      }
    }
  }

  section {
    padding-top: $spacing-layout-l;

    svg {
      display: none;
    }

    a svg {
      display: block;
    }
  }

  h2 {
    font-size: var(--fontsize-heading-s) !important;
  }
}
