@import "~hds-design-tokens/lib/all.scss";
@import "../../styles/mixins";

.hds-header {
  border-bottom: 0.15rem solid black;

  a:hover {
    border: 0;
  }

  div>svg,
  a>svg {
    display: none;
  }

  div>span,
  a>span {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    margin-left: $spacing-s;
    opacity: 1 !important;
    transform: none !important;

    span {
      display: flex !important;
    }
  }
}

.choices {
  margin-top: 1.3rem;
  position: relative;
}