@import "~hds-design-tokens/lib/all.scss";
@import "../../styles/mixins";

.header {
  border-bottom: 0.15rem solid black;

  a:hover {
    border: 0;
  }

  a > svg {
    display: none;
  }
}

.actions {
  display: flex !important;
  justify-content: flex-start !important;
  padding-right: 0 !important;
}

.choices {
  margin-top: 1.3rem;
  position: relative;
}

.logout {
  margin-left: 0;
}

.mobileLanguages {
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  white-space: nowrap;
  font-size: small;
  justify-content: space-evenly;
  .chosen {
    color: black;
    text-decoration: none;
  }

  .unchosen {
    color: #0000bf !important;
    text-decoration: underline !important;
  }
}
