@use "~hds-design-tokens/lib/all.scss";

.dialog {
  padding: all.$spacing-m;

  div {
    margin: all.$spacing-s;
  }

  .title {
    font-size: all.$fontsize-heading-m;
    font-weight: 700;
  }

  .buttons {
    display: flex;
    flex-direction: row;
  }
}
