@import "~hds-design-tokens/lib/all.scss";
@import "../../styles/mixins.scss";

.helpcontainer {
  .pagehelp {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;

    @include media(xs) {
      flex-direction: column;
    }

    .helpbutton {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  .contentcontainer {
    padding: 0;
  }
}
