@use "~hds-design-tokens/lib/all.scss";
@use "../styles/mixins.scss";

.maincontainer {
  @include mixins.media(l, xl) {
    margin-right: all.$spacing-l;
  }

  .picture {
    max-width: 100%;
    max-height: 20rem;

    img {
      max-width: 100%;
      max-height: 20rem;
    }
  }

  .pictureurl {
    margin-top: all.$spacing-s;
  }

  .inputcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: all.$spacing-s;

    .inputfield {
      display: flex;
      flex-direction: row;
      width: 100%;

      > div {
        width: 100%;
      }
    }

    .inputbuttons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .fileinput {
        width: 50%;

        @include mixins.media(xs) {
          width: 100%;
        }

        button {
          margin-left: all.$spacing-2-xs;
        }
      }

      .linkinput {
        margin-top: all.$spacing-3-xs;
        margin-bottom: all.$spacing-m;
      }
    }

    .hidden {
      display: none;
    }
  }

  .lowercontentcontainer {
    margin: all.$spacing-xl 0;

    .altcontainer {
      label {
        margin: all.$spacing-s 0;
      }

      button {
        color: all.$color-black;
        background-color: all.$color-white;
      }

      textArea {
        height: all.$spacing-xl * 3;
      }

      .altLabel {
        margin: all.$spacing-s 0;
      }
    }

    .picturetermscontainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: all.$spacing-xl 0;

      button {
        color: all.$color-black;
        background-color: all.$color-white;
      }
    }

    .picturesourcecontainer {
      margin: all.$spacing-xl 0;

      input {
        margin: all.$spacing-s 0;
      }

      button {
        color: all.$color-black;
        background-color: all.$color-white;
      }
    }
  }
}
