@use "~hds-design-tokens/lib/all.scss";
@use "../styles/mixins.scss";

.maincontainer {
  .headingcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: all.$color-bus-light;
    margin-top: all.$spacing-m;

    .headingsection {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-grow: 1;

      &.rightsection {
        justify-content: flex-end;
      }

      .headertext {
        font-size: all.$fontsize-heading-m;
        font-weight: 700;
        color: all.$color-bus;
        padding: all.$spacing-s all.$spacing-m;

        @include mixins.media(xs) {
          font-size: all.$fontsize-heading-s;
        }
      }

      .ordernumber {
        color: all.$color-white;
        background-color: all.$color-bus;
      }

      button {
        padding: 0;
      }
    }
  }

  .contentcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: all.$spacing-m;

    > div {
      width: 50%;

      @include mixins.media(xs, s, m) {
        width: 100%;
      }
    }

    .contentheader {
      font-size: all.$fontsize-heading-s;
      font-weight: 700;
      color: all.$color-bus;
      margin-bottom: all.$spacing-s;
    }
  }
}
