@import "~hds-design-tokens/lib/all.scss";
@import "../styles/mixins.scss";

.maincontainer {
  @include media(l, xl) {
    margin-right: $spacing-l;
  }

  .picture {
    max-width: 100%;
    max-height: 20rem;

    img {
      max-width: 100%;
      max-height: 20rem;
    }
  }

  .inputcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: $spacing-s;

    .inputfield {
      display: flex;
      flex-direction: row;
      width: 100%;

      > div {
        width: 100%;
      }
    }

    .inputbuttons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .hidden {
      display: none;
    }
  }

  .lowercontentcontainer {
    margin: $spacing-xl 0;

    .altcontainer {
      label {
        margin: $spacing-s 0;
      }

      button {
        color: $color-black;
        background-color: $color-white;
      }

      textArea {
        height: $spacing-xl * 3;
      }

      .altLabel {
        margin: $spacing-s 0;
      }
    }

    .picturetermscontainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: $spacing-xl 0;

      button {
        color: $color-black;
        background-color: $color-white;
      }
    }

    .picturesourcecontainer {
      margin: $spacing-xl 0;

      input {
        margin: $spacing-s 0;
      }

      button {
        color: $color-black;
        background-color: $color-white;
      }
    }
  }
}
