@import "~hds-design-tokens/lib/all.scss";
@import "../styles/mixins.scss";

.maincontainer {
    padding: $spacing-m;
    .inputcontainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        flex-wrap: nowrap;
        width: 90%;
        button {
            margin: 0 $spacing-2-xs;
            padding: 0.1rem 0;
            @include media(xs, s) {
                margin: $spacing-2-xs 0;
            }
        }
        @include media(xs, s) {
            display: block;
        }
        .inputfield {
            width: 50%;
            @include media(xs, s) {
                width: 100%;
            }
        }
        .hidden {
            display: none;
        }
    }
    .lowercontentcontainer {
        display: flex;
        margin: $spacing-xl 0;
        @include media(xs, s, m) {
            flex-direction: column;
        }
        .altcontainer {
            width: 60%;
            span {
                margin: $spacing-s 0; 
            }
        }
        .picrutepreviewcontainer {
            padding: $spacing-l;
            @include media(xs, s) {
                padding: 0;
            }
            div {
                height: 20rem;
                width: 20rem;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                @include media(xs, s) {
                    height: 15rem;
                    width: 15rem;; 
                }
            }
        }
    }
}