@import "~hds-design-tokens/lib/all.scss";
@import "../styles/mixins.scss";

.maincontainer {
  .controlscontainer {
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: $spacing-3-xl 0 $spacing-xl 0;
    button {
      color: $color-bus !important;
      background-color: $color-white !important;
      border: 2px solid $color-bus !important;
      margin-bottom: 0 !important;
      margin-right: 0 !important;
    }
    @include media(xs, s, m) {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 0;
      span {
        width: 100%;
        margin: $spacing-xs 0;
      }
      button {
        span {
          margin: 0;
        }
        margin-left: 0 !important;
      }
    }
    .addressinput {
      width: 50%;
      margin-right: $spacing-s;
      button {
        border: 0 !important;
      }
    }
  }
  .mapcontainer {
    margin: $spacing-m 0;
    width: 90%;
    height: 100%;
  }
}
