@use "~hds-design-tokens/lib/all.scss";
@use "../styles/mixins.scss";

.maincontainer {
  @include mixins.media(l, xl) {
    margin-right: all.$spacing-l;
  }

  .inputcontainer {
    .commentcontainer {
      label {
        margin: all.$spacing-s 0;
      }

      button {
        color: all.$color-black;
        background-color: all.$color-white;
      }

      textArea {
        height: all.$spacing-xl * 3;
      }

      .altLabel {
        margin: all.$spacing-s 0;
      }
    }
  }
}
