@import "~hds-design-tokens/lib/all.scss";
@import "../styles/mixins.scss";

.mappreviewcontainer {
  width: 28rem;
  @include media(xs, s, m) {
    width: 24rem;
  }
}

.mappreview {
  width: 100%;
}

.addinfopreviewcontainer {
  display: flex;
  justify-content: space-between;
  padding: $spacing-m 0;
  @include media(xs, s) {
    flex-direction: column;
  }

  .addinfopicturepreview {
    padding: $spacing-s;
    padding-right: $spacing-2-xl;
    height: 19rem;
    width: 24rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    @include media(xs, s, m) {
      padding: 0;
    }
  }
}
