@use "~hds-design-tokens/lib/all.scss";
@use "../styles/mixins.scss";

.maincontainer {
  .inputcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: all.$spacing-s;

    .inputbuttons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: all.$spacing-3-xs;
    }
  }

  .lowercontentcontainer {
    margin: all.$spacing-xl 0;

    .altcontainer {
      label {
        margin: all.$spacing-s 0;
      }

      button {
        color: all.$color-black;
        background-color: all.$color-white;
      }

      textArea {
        height: all.$spacing-xl * 3;
      }

      .altLabel {
        margin: all.$spacing-s 0;
      }
    }
  }
}
