@import "~hds-design-tokens/lib/all.scss";
@import "../styles/mixins.scss";

.headline {
    padding: $spacing-s $spacing-s;
    width: 85%;
    margin: auto;

    @include media(xs, s) {
        width: 100%;
        border-bottom: 1px solid $color-black-20;
    }

    .mainInfo {
        padding: $spacing-s;
        width: 70%;
    }

    button {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @include media(xs, s) {
            border: none;
            color: $color-black;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }
    .card {
        padding: 0;
    }
}