@import "~hds-design-tokens/lib/all.scss";
@import "../styles/mixins.scss";

.headline {
  margin-bottom: $spacing-s;

  .importAddinfoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    @include media(l, xl) {
      flex-direction: row;
      align-items: flex-end;
    }
  }

  .headlineButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .blockHeadline {
      display: flex;
      align-items: center;

      .heading {
        font-size: $fontsize-heading-s;
        padding-right: 1rem;
      }
    }

    // Fix for right icon in xs screen size
    svg {
      min-width: 24px;
    }
  }

  :focus::after {
    margin-left: -0.95rem;
  }

  .card {
    padding: 0;

    > div:nth-child(2n) {
      background-color: $color-bus-light;
    }
  }
}
