@import "~hds-design-tokens/lib/all.scss";
@import "../styles/mixins.scss";

.continueButton {
  margin-top: $spacing-m;
  :focus::after {
    margin-right: -0.95rem;
  }
}
.infoContainer {
  display: flex;
  flex-direction: column;
  .infoPicture {
    height: 20rem;
    width: 25rem;
  }
}
.importAddinfoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}
