@use "~hds-design-tokens/lib/all.scss";
@use "../styles/mixins.scss";

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: all.$spacing-l;

  .left {
    justify-content: flex-start;
  }

  .right {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
