@use "~hds-design-tokens/lib/all.scss";
@use "../styles/mixins.scss";

.maincontainer {
  .questioncontainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: all.$spacing-m all.$spacing-s;

    @include mixins.media(xs, s) {
      flex-direction: column;
    }

    .infoContainer {
      display: flex;
      flex-direction: column;
      border-left: 5px solid all.$color-bus;
      padding-left: all.$spacing-m;
    }

    /*
    .alertCircle {
      color: $color-error;
      padding-top: 0.8rem;
      margin-right: -4rem;
      padding-left: 2.4rem;
    }
    */
  }

  .maintext {
    flex-grow: 1;
    flex-basis: 0;
  }

  .children {
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;

    @include mixins.media(m, l, xl) {
      display: flex;
      justify-content: flex-end;
      margin-left: all.$spacing-l;
    }
  }
}
