@import "~hds-design-tokens/lib/all.scss";
@import "../styles/mixins.scss";

.selectDropdown {
  width: 100%;
}

.selectDropdown li[aria-selected="true"] {
  background-color: var(--menu-item-background-selected-hover);
  color: var(--menu-item-color-selected-hover);
}
