@import "~hds-design-tokens/lib/all.scss";
@import "../styles/mixins.scss";

.mainContainer {
  padding: $spacing-s;
  padding-top: 0;

  .importWrapper {
    display: flex;
    flex-direction: row;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include media(m, l, xl) {
      flex-direction: row;
    }

    :focus::after {
      margin-left: 0;
    }

    .selectDropdown {
      width: 100%;

      button {
        color: var(--dropdown-color-default);
      }
    }

    .selectDropdown li[aria-selected="true"] {
      background-color: var(--menu-item-background-selected-hover);
      color: var(--menu-item-color-selected-hover);
    }

    Button {
      margin: auto $spacing-2-xs;

      @include media(xs, s) {
        margin: $spacing-2-xs 0;
      }
    }
  }
}
