@use "~hds-design-tokens/lib/all.scss";
@use "../styles/mixins.scss";

.maincontainer {
  margin-top: all.$spacing-s;
  border-left: 5px solid all.$color-bus;
  background-color: all.$color-white !important;

  .questionwrapper {
    border: 2px solid all.$color-bus-medium-light;
    border-left: 0;
    padding: all.$spacing-m all.$spacing-s;
  }

  .questioncontainer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    color: all.$color-bus;

    @include mixins.media(xs, s) {
      flex-direction: column;
    }

    .question {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      flex-basis: 0;
      align-items: center;
      margin: all.$spacing-s 0;
    }

    .commenticon {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: all.$spacing-xl;
      height: all.$spacing-xl;
      background-color: all.$color-bus;
      color: all.$color-white;
      cursor: pointer;
    }

    .maintext {
      padding-left: all.$spacing-2-xs;
    }
  }

  .commentcontainer {
    padding: 0 all.$spacing-s;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    @include mixins.media(xs, s) {
      flex-direction: column;
    }

    .maintext {
      flex-grow: 1;
      flex-basis: 0;
      width: 100%;

      p {
        font-weight: 700;
      }
    }

    .label {
      @include mixins.media(m, l, xl) {
        margin-top: all.$spacing-m;
      }

      div {
        margin-bottom: all.$spacing-m;
      }
    }
  }

  .maintext {
    flex-grow: 1;
    flex-basis: 0;
  }

  .children {
    flex-grow: 1;
    flex-basis: 0;
    // align-items: center;
    width: 100%;

    @include mixins.media(m, l, xl) {
      display: flex;
      justify-content: flex-end;
      margin-left: all.$spacing-l;
    }
  }
}
