@import "~hds-design-tokens/lib/all.scss";
@import "../styles/mixins.scss";

.selectDropdown {
  width: 100%;
}

.selectDropdown li[aria-selected="true"] {
  background-color: var(--menu-item-background-selected-hover);
  color: var(--menu-item-color-selected-hover);
}

// Hide the label except to screen readers
.selectDropdown label {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: 0 -1px -1px 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
