@import "~hds-design-tokens/lib/all.scss";
@import "../styles/mixins.scss";

.container {
  padding: $spacing-s $spacing-m $spacing-s $spacing-s;
  :focus::after {
    margin-right: -0.95rem;
  }
  Button {
    margin: auto $spacing-2-xs;
    @include media(xs, s, m, l) {
      margin: 0;
    }
  }
}
