@use "~hds-design-tokens/lib/all.scss";
@use "../styles/mixins.scss";

.infocontainer {
  @include mixins.media(xs) {
    margin-bottom: all.$spacing-s;
  }

  button {
    color: all.$color-bus !important;
    font-weight: 400;

    &:hover {
      background-color: unset;
    }
  }

  .contentcontainer {
    background-color: unset;
    padding: 0;
  }
}
