@import "~hds-design-tokens/lib/all.scss";
@import "../styles/mixins.scss";

.maincontainer {
  .questioncontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: row wrap;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: $spacing-l $spacing-s;
    @include media(xs, s, m) {
      flex-direction: column;
      padding: $spacing-m;
    }
    .infoContainer {
      display: flex;
      flex-direction: column;
      width: 70%;
      border-left: 5px solid #0072c6;
      padding-left: $spacing-m;
      .infoPicture {
        width: 20rem;
        height: 15rem;
      }
    }
    .alertCircle {
      color: #b01038;
      padding-top: 0.8rem;
      margin-right: -4rem;
      padding-left: 2.4rem;
    }
  }
  .maintext {
    width: 70%;
  }
  .children {
    flex: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: $spacing-s;
  }
  .openAdditioinalInfo {
    border: 1px solid blue;
  }
  .borderTopIfOpen {
    border-top: 1px solid blue;
  }
  .addinfos {
    padding: 0 $spacing-s;

    p {
      word-wrap: break-word;
      max-width: 80%;
    }

    h4 {
      padding: 0;
    }

    .addinfopreviewcontainer {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $color-black-40;
      padding: $spacing-m 0;
      @include media(xs, s) {
        flex-direction: column;
      }
      .nomargintop {
        margin-top: 0;
      }
      .picturetextcontainer {
        min-width: 50%;
        @include media(xs, s) {
          width: 100%;
        }
      }
      .mapcontainerspacer {
        min-width: 50%;
        @include media(xs, s) {
          display: none;
        }
      }
      .addinfopicturepreview {
        padding: $spacing-s;
        padding-right: $spacing-2-xl;
        @include media(xs, s) {
          padding: 0;
        }
        height: 15rem;
        width: 15rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
        @include media(xs, s) {
          height: 12.5rem;
          width: 12.5rem;
        }
      }
    }
    .mappreview {
      padding: $spacing-s $spacing-l;
      width: 40%;
      @include media(xs, s, m) {
        padding: 0;
        width: 70%;
      }
    }
    .editaddinfobutton {
      margin-left: 0;
      padding-left: 0;
      button {
        border: 0;
      }
    }
  }
}
