@import "~hds-design-tokens/lib/all.scss";
@import "../styles/mixins.scss";

.infocontainer {
  @include media(xs) {
    margin-bottom: $spacing-s;
  }

  button {
    color: $color-bus !important;
    font-weight: 400;

    &:hover {
      background-color: unset;
    }
  }

  .contentcontainer {
    background-color: unset;
    padding: 0;
  }
}
