@use "~hds-design-tokens/lib/all.scss";
@use "../styles/mixins.scss";

.mainInfo {
  overflow-wrap: break-word;
}

.continueButton {
  margin-top: all.$spacing-m;
  :focus::after {
    margin-right: -0.95rem;
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;

  .infoPicture {
    max-width: 100%;
    max-height: 20rem;
  }

  .guideLink {
    margin-bottom: all.$spacing-s;
  }
}

.importAddinfoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}
