@import "~hds-design-tokens/lib/all.scss";
@import "../styles/mixins.scss";

.maincontainer {
  margin-top: $spacing-l;

  .headercontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    h3 {
      margin-bottom: 0;
    }
  }

  .contactInformation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    div {
      margin-right: $spacing-xl;
    }
  }

  .nodatacontainer {
    span {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      svg {
        margin-right: $spacing-s;
      }
    }
  }
}
