@import "~hds-design-tokens/lib/all.scss";
@import "../styles/mixins.scss";

.maincontainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: $spacing-3-xl auto;
  flex-direction: row;

  @include media(xs, s) {
    flex-direction: column;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-left: 4px solid $color-bus-medium-light;
    padding: 0 $spacing-s;
    color: #424242;

    @include media(xs, s) {
      border-left: 0;
      border-bottom: 4px solid $color-bus-medium-light;
      padding: $spacing-s 0;
    }

    p {
      padding: $spacing-s 0;
    }
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      svg {
        margin-left: $spacing-2-xs;
        transform: scale(0.6);
      }
    }
    svg {
      color: $color-bus;
    }
  }
}
