@import "~hds-design-tokens/lib/all.scss";
@import "../styles/mixins.scss";

.maincontainer {
  margin-top: $spacing-l;

  .header {
    color: $color-bus;
    font-size: $fontsize-heading-m !important;
  }

  .container {
    background-color: $color-bus-light;
    padding: $spacing-s;
  }
}
