@import "~hds-design-tokens/lib/all.scss";
@import "../styles/mixins.scss";

.maincontainer {
  margin-top: $spacing-l;

  .headercontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .accordion {
    margin-top: $spacing-l;
    padding-left: 0 !important;
    padding-right: 0 !important;

    > div:first-child {
      background-color: $color-bus-light !important;
      color: $color-bus;
      padding: $spacing-m;
    }
  }

  .footercontainer {
    margin-top: $spacing-l;
  }

  .nodatacontainer {
    span {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      svg {
        margin-right: $spacing-s;
      }
    }
  }
}
