@import "~hds-design-tokens/lib/all.scss";
@import "../styles/mixins.scss";

.maincontainer {
  display: flex;
  flex-direction: row;
  margin-top: $spacing-l;
  @include media(xs, s, m) {
    flex-direction: column;
  }
}
