@use "~hds-design-tokens/lib/all.scss";
@use "../styles/mixins.scss";

.maincontainer {
  background-color: all.$color-bus-light;
  padding: all.$spacing-s;
  margin-top: all.$spacing-xs;
  margin-bottom: all.$spacing-5-xl;

  > div:last-child {
    margin-bottom: 0;
  }

  .subcontainer {
    width: 100%;
    margin-bottom: all.$spacing-m;

    h4 {
      margin-bottom: all.$spacing-m;
    }

    .mappicturecontainer {
      display: flex;
      flex-direction: row;

      @include mixins.media(xs, s) {
        flex-direction: column;
      }

      > div {
        width: 50%;

        @include mixins.media(xs, s) {
          width: 100%;
        }
      }

      .label div {
        margin-bottom: all.$spacing-m;
      }

      .picture {
        img {
          max-width: 100%;
          max-height: 20rem;
        }
      }
    }
  }
}
