@use "~hds-design-tokens/lib/all.scss";
@use "../styles/mixins.scss";

.maincontainer {
  margin-top: all.$spacing-s;

  button {
    > div:first-child {
      display: none;
    }

    &:focus {
      color: var(--color-hover);
      background-color: var(--background-color-hover);
      text-decoration: underline;
    }
  }

  .contentcontainer {
    padding: 0;
  }
}
