@use "~hds-design-tokens/lib/all.scss";
@use "../styles/mixins.scss";

.maincontainer {
  margin-top: all.$spacing-xs;

  .header {
    color: all.$color-bus;
    font-size: all.$fontsize-heading-m !important;
  }

  .container {
    background-color: all.$color-bus-light;
    padding: 0 all.$spacing-s;
  }
}
