@use "~hds-design-tokens/lib/all.scss";
@use "../styles/mixins.scss";

.maincontainer {
  display: flex;
  flex-direction: row;
  border: 2px solid all.$color-black-10;
  padding: all.$spacing-xs;

  @include mixins.media(xs, s) {
    flex-direction: column;
  }

  .sidenavigation {
    width: 30%;
    margin-right: all.$spacing-xs;

    @include mixins.media(xs, s) {
      width: 100%;
    }
  }

  .contentcontainer {
    width: 70%;

    @include mixins.media(xs, s) {
      width: 100%;
    }
  }
}
