@import "~hds-design-tokens/lib/all.scss";
@import "../styles/mixins.scss";

.maincontainer {
  margin-top: $spacing-l;

  .headercontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .accordion {
    border-bottom: 0 !important;

    > div:first-child {
      font-size: $fontsize-body-m;
      font-weight: 500;
      background-color: $color-black-5;
      padding: $spacing-s;

      /*
      div[aria-expanded="true"] {
        font-weight: 700;
      }
      */
    }
  }

  .innerAccordion {
    border-bottom: 0 !important;

    > div:first-child {
      font-size: $fontsize-body-m;
      font-weight: 500;
      padding: $spacing-s;
    }
  }

  .sentencelist {
    padding: 0 $spacing-s;

    .sentence {
      margin: $spacing-s 0;
    }
  }

  .questioncontainer {
    margin-top: $spacing-2-xs;

    .answer {
      font-weight: 700;
      margin-left: $spacing-2-xs;
    }
  }

  .footercontainer {
    margin-top: $spacing-l;
  }

  .nodatacontainer {
    span {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      svg {
        margin-right: $spacing-s;
      }
    }
  }
}
