@import "~hds-design-tokens/lib/all.scss";
@import "../styles/mixins.scss";

.maincontainer {
  margin-top: $spacing-l;

  h4 {
    background-color: $color-bus-light;
    padding: $spacing-s;
  }

  .headercontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .sentencelist {
    padding: 0 $spacing-s;

    .sentence {
      margin: $spacing-s 0;

      .comment {
        font-weight: 700;
      }
    }
  }

  .accordioncontent {
    margin-top: $spacing-m;
  }

  .questioncontainer {
    margin-top: $spacing-2-xs;

    .answer {
      font-weight: 700;
      margin-left: $spacing-2-xs;
    }
  }

  .footercontainer {
    margin-top: $spacing-l;
  }

  .nodatacontainer {
    span {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      svg {
        margin-right: $spacing-s;
      }
    }
  }
}
