@use "~hds-design-tokens/lib/all.scss";
@use "../styles/mixins.scss";

.maincontainer {
  margin-top: all.$spacing-l;

  .headercontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    h3 {
      color: all.$color-bus;
      margin-bottom: 0;
    }
  }

  .contactInformation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .infocontainer {
      margin-right: all.$spacing-xl;

      h4 {
        margin-top: all.$spacing-s;
      }
    }
  }

  .nodatacontainer {
    span {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      svg {
        margin-right: all.$spacing-s;
      }
    }
  }
}
