@use "~hds-design-tokens/lib/all.scss";

.content {
  .korosTextBox {
    text-align: center;
    background-color: all.$color-copper-light;
    padding: all.$spacing-xl all.$spacing-xl 0;

    h1 {
      color: all.$color-bus;
      margin-bottom: 0;
    }
  }

  .koros {
    fill: all.$color-copper-light;
  }

  .infoTextBox {
    text-align: center;
    padding: all.$spacing-xl;
    font-size: all.$fontsize-heading-xs;
    font-weight: 700;
  }

  .infoLinkContainer {
    text-align: center;
  }

  h2 {
    color: all.$color-bus;
  }

  .newPlace {
    background-color: all.$color-suomenlinna-light;
  }

  .giveTip {
    background-color: all.$color-bus-light;
  }

  .checkPlace {
    background-color: all.$color-copper-light;
  }

  .modifyOwnPlace {
    background-color: all.$color-engel-light;
  }
}
