@use "~hds-design-tokens/lib/all.scss";

.addressBlock {
  display: flex;
  align-items: center;

  p {
    margin-top: 0;
  }

  .address {
    font-size: all.$fontsize-heading-s;
    font-weight: 700;
    padding: 0 all.$spacing-2-xs;
  }
}

.radioButtonDiv {
  background-color: all.$color-error-light;
  padding: all.$spacing-s;
  margin-bottom: all.$spacing-s;
}
