.addressBlock {
  display: flex;
  align-items: center;
  .address {
    padding-left: 0.5rem;
  }
}
.radioButtonDiv {
  background-color: lightcoral;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
