@import "~hds-design-tokens/lib/all.scss";

.addressBlock {
  display: flex;
  align-items: center;

  .address {
    padding-left: $spacing-2-xs;
  }
}

.radioButtonDiv {
  background-color: $color-error-light;
  padding: $spacing-s;
  margin-bottom: $spacing-s;
}
