// No need to include the core css, since hds-react already imports what it needs
// @import "~hds-core/lib/base.css";
// @import "~hds-core/lib/components/all.css";
// @import "~hds-core/lib/icons/all.css";
@import "~hds-design-tokens/lib/all.scss";
@import "mixins";
@import "leaflet/dist/leaflet.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: HelsinkiGrotesk, Arial, sans-serif;
  font-size: $fontsize-body-m;
  line-height: $lineheight-l;
}

@font-face {
  font-family: HelsinkiGrotesk;
  font-weight: 400;
  font-style: normal;
  src: url("../public/fonts/HelsinkiGrotesk-Regular.otf") format("opentype");
}

@font-face {
  font-family: HelsinkiGrotesk;
  font-weight: 400;
  font-style: italic;
  src: url("../public/fonts/HelsinkiGrotesk-RegularItalic.otf") format("opentype");
}

@font-face {
  font-family: HelsinkiGrotesk;
  font-weight: 500;
  font-style: normal;
  src: url("../public/fonts/HelsinkiGrotesk-Medium.otf") format("opentype");
}

@font-face {
  font-family: HelsinkiGrotesk;
  font-style: normal;
  font-weight: 700;
  src: url("../public/fonts/HelsinkiGrotesk-Bold.otf") format("opentype");
}

h1 {
  font-size: $fontsize-heading-xl !important;

  @include media(xs) {
    font-size: $fontsize-heading-l !important;
  }
}

h2 {
  font-size: $fontsize-heading-l !important;

  @include media(xs) {
    font-size: $fontsize-heading-m !important;
  }
}

h3 {
  font-size: $fontsize-heading-m !important;

  @include media(xs) {
    font-size: $fontsize-heading-s !important;
  }
}

h4 {
  font-size: $fontsize-heading-s !important;
  margin: 0;

  @include media(xs) {
    font-size: $fontsize-heading-xs !important;
  }
}

h5 {
  font-size: $fontsize-heading-xxs !important;
  margin: 0;

  @include media(xs) {
    font-size: $fontsize-heading-xxs !important;
  }
}

textarea {
  height: auto !important;
}

.disabledTextColor input[disabled],
.disabledTextColor textarea[disabled],
.disabledTextColor input[type="checkbox"][disabled] + label {
  color: $color-black-70 !important;
}

.flexSpace {
  flex-grow: 1;
}

.hidden {
  display: none;
}

button:hover {
  text-decoration: underline;
}

a:hover {
  /* hover style copied from HDS Link focus style */
  border: 3px solid var(--color-coat-of-arms);
  outline: none;
}

.screenReaderOnly,
.visibleOnFocusOnly:not(:focus) {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: 0 -1px -1px 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
